* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #171718;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  background-color: #161616;
  padding: 40px;
  box-shadow: 1px 1px 30px 10px black;
}

main {
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 50px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.especial {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}.especial div{
  margin: 10px;
}

button {
  padding: 10px;
  margin: 10px;
  background-color: brown;
  color: #ffff;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
}

button:hover {
  background-color: rgb(116, 27, 27);
}

section {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-around;
}

#cor-codigo {
  font-size: 1.2em;
  letter-spacing: 2.5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 500px;
  position: relative;
  border: 1px solid black;
}

.grid>div {
  aspect-ratio: 1/1;
  border: 1px solid #999;
  font-family: Consolas, monospace;
  font-size: 1.1em;
  padding: 2px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid>div:hover {
  transform: scale(1.08);
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width:400px) {
  .grid {
    grid-template-columns: repeat(5,1fr);
    font-size: 0.7em;
  }
  main{
    margin: 20px;
  }
}

footer {
  background-color: #161616;
  padding: 40px;
  text-align: center;

}